@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --main-bg-color: rgb(4, 87, 87);
}

.text-center {
    text-align: center;
    font-size: 2vw;
    color: var(--main-bg-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: var(--main-bg-color);
    padding: 0 2vw;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    font-family: "Varela Round", sans-serif;
    padding: 0 10px;
    font-size: 25px;
    font-weight: bolder;
}

.logo img {
    margin-right: 5px;
}

.logo .agri {
    color: rgb(10, 191, 10);
}

.logo .tech {
    color: rgb(27, 151, 213);
}

nav ul .list {
    display: flex;
}

nav ul {
    display: flex;
    height: 8vh;
    align-items: center;
    justify-content: flex-end;
}

nav ul li {
    list-style: none;
    padding: 5px 10px;
    font-size: 18px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.btn {
    display: flex;
}

.btn .language-switcher {
    margin: auto 20px auto 0;
}
.language-switcher .eng{
    cursor: pointer;
    padding: 3px;
}
.language-switcher .hin{
    cursor: pointer;
    padding: 3px;
}

.btn .login {
    padding: 4px 10px;
    margin: 0 10px;
    color: var(--main-bg-color);
    background: white;
    border: 2px solid white;
    font-size: 15px;
    cursor: pointer;
}

.btn .login:hover {
    box-shadow: 1px 1px 3px white;
}

.btn .signup {
    padding: 4px 6px;
    color: white;
    background: var(--main-bg-color);
    border: 2px solid white;
    font-size: 15px;
    cursor: pointer;
}

.btn .signup:hover {
    box-shadow: 1px 1px 4px white;

}

.container {
    background: rgba(209, 248, 224, 0.912);
}

.content1 {
    width: 100vw;
    height: 80vh;
    background-position: center;
    background-size: cover;
    background-image: url(https://okcredit-blog-images-prod.storage.googleapis.com/2020/10/shutterstock_1484680373.jpg);

}

.content1 .upperbg {
    width: 100vw;
    height: 80vh;
    background-color: rgba(0, 0, 0, 0.45);

    display: flex;
    align-items: center;
    color: white;
}

.upperbg img {
    margin: 5vw;
    width: 30vw;
    height: 20vw;
    border-radius: 30px;
}

.upperbg .textbox .text1 {
    text-align: center;
    margin: 10px 0;
    font-size: 35px;
}

.upperbg .textbox .text2 {
    margin: 0 30px;
    font-size: 25px;
    font-family: "Varela Round", sans-serif;
}

.content2 {
    margin: 10px 20vw;
    padding: 10px;
    border: 2px solid grey;
    border-radius: 20px;
    background: white;
}

.content2 .boxs {
    display: flex;
    justify-content: center;
}

.boxs .box {
    padding: 10px 30px;
    margin: 10px 20px;
    background: rgba(244, 243, 243, 0.912);
    border: 2px solid grey;
    box-shadow: 2px 2px 6px grey;
}

.boxs .box:hover {
    border: 2px solid black;
    box-shadow: 4px 4px 8px grey;
}

.boxs .box img {
    width: 40vw;
    height: 30vh;
    border: 2px solid black;
    border-radius: 10px;
}

.boxs .box .text3 {
    margin: 5px 0 0 0;
    text-align: center;
    font-size: 15px;
}
.content2a{
    display: flex;
    margin: 20px 5vw;
    padding: 10px;
}
.content2a .text2a p{
    margin: auto;
    color: var(--main-bg-color);
    font-size: 3.75vw;
    font-family: "Prompt", sans-serif;
    font-weight: bold; 
}
.text2a .more{
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    background: var(--main-bg-color);
    border: 2px solid white;
}
.text2a .more:hover{
    box-shadow: -2px -2px 8px rgb(28, 24, 24);
}
.text2a .more a{
    font-size: 1.5vw;
    text-decoration: none;
    color: white;
}
.content2a img{
    height: 22vw;
    width: 40vw;
    border-radius: 50px;
}

.content3 .card {
    display: flex;
    padding: 0 30px;
    overflow: scroll;
}

.card .card-item {
    margin: 25px;
    margin-bottom: 40px;
    background: white;
    padding: 20px;
}

.card .card-item:hover {
    box-shadow: -1px -1px 6px rgb(74, 73, 73);
}

.card-item img {
    width: 10vw;
    height: 10vw;
    border-radius: 10px;
}

.card-item h3 {
    text-align: center;
    margin: 10px 0 0 0;
    font-size: 15px;
}

.content4 {
    width: 100vw;
    height: 50vh;
    background-position: center;
    background-size: cover;
    background-image: url(https://media.licdn.com/dms/image/D5612AQG9PE-6-vKx3g/article-cover_image-shrink_720_1280/0/1704527548857?e=2147483647&v=beta&t=Vd4o5gVwfPSWSK-IWH79N67ggbvroH3bnBs1xlYk2Pg);
}

.content4 .overlay {
    width: 100vw;
    height: 50vh;
    background-color: rgba(0, 0, 0, 0.60);
}

.text4 {
    margin: auto;
    padding: 120px 0;
    text-align: center;
    color: white;
    font-size: 40px;
    font-family: "Prompt", sans-serif;
    width: 800px;
    font-weight: bold;
}

footer {
    height: 10vh;
    background-color: var(--main-bg-color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
