@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Varela+Round&display=swap');
*{
  margin:0;
  padding:0;
}
:root {
  --main-bg-color: rgb(4, 87, 87);
}
header {
  background: var(--main-bg-color);
  padding: 0 2vw;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  font-family: "Varela Round", sans-serif;
  padding: 0 10px;
  font-size: 25px;
  font-weight: bolder;
}
.logo img{
  margin-right: 5px;
}
.logo .agri{
  color: rgb(10, 191, 10);
} 
.logo .tech{
  color: rgb(27, 151, 213);
}

nav ul .list {
  display: flex;
}

nav ul {
  display: flex;
  height: 8vh;
  align-items: center;
  justify-content: flex-end;
}

nav ul li {
  list-style: none;
  padding: 5px 10px;
  font-size: 17px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}
.btn{
  display: flex;
}
.btn .language-switcher{
  margin: auto 20px auto 0;
}
.btn .login {
  padding: 2px 10px;
  margin: 0 10px;
  color: var(--main-bg-color);
  background: white;
  border: 2px solid white;
  font-size: 15px;
  cursor: pointer;
}
.btn .login:hover{
  box-shadow: 1px 1px 3px white;
}

.btn .signup {
  padding: 2px 6px;
  color: white;
  background: var(--main-bg-color);
  border: 2px solid white;
  font-size: 15px;
  cursor: pointer;
}
.btn .signup:hover{
  box-shadow: 1px 1px 4px white;
  
}

.text-big{
  font-weight: bold;
  font-size: 3vw;
  font-family: 'Stencil';
}

.text-medium{
  font-size: 2.5vw;
  font-family: 'Harlow solid';
}

.text-small{
  font-size: 2vw;
  font-family: 'Harlow solid';
}

.btn-sm{
  padding: 5px 10px;
  vertical-align: middle;
  color:white;
  cursor: pointer;
  background: none;
  border:2px solid white;
}

.section{
  margin: 30px auto;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 90%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.sectionTag{
  padding-bottom :30px;
}

.secLeft{
  flex-direction: row-reverse;
}

.paras{
  padding: 0 20px;
}

.thumbnail img{
  width:35vw;
  height: 22vw;
  border-radius: 40px;
  margin: auto 0;
  border: 100px black;
}

