*{
  margin:0;
  padding:0;
}

.navbar{
  display:flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  cursor: pointer;
}

.nav-list{
  width:70%;
  display:flex;
  align-items: center;
}

.nav-list li{
  list-style: none;
  padding: 10px 10px;
}

.nav-list li a{
  text-decoration:none;
  color:white;
  font-size: 16px;
  font-family: 'Ubuntu',sans-serif;
}

.nav-list li a:hover{
  color:grey;
}

.rightnav{
  width:30%;
  text-align: right;
}

#search{
  padding:8px;
  font-size:14px;
  border:2px solid grey;
  border-radius:10px;
}

.background{
  background: rgba(0, 0, 0, 0.7)url('../image/bg2.jpg');
  background-size:cover;
  background-blend-mode: darken;
}

.firstSection{
  height:100vh;
}

.box-main{
  display: flex;
  justify-content:center;
  align-items: center;
  color:white;
  max-width: 50%;
  margin: auto;
  height: 80%;
  padding-right: 100px;
}

.firstHalf{
  width:60%;
  display:flex;
  flex-direction:column;
  justify-content: center;
}

.space{
  padding-top: 15px;
}

.secondHalf{
  width:50%;
}

.secondHalf img{
  padding:7px 10px;
  display:block;    
  border-radius: 40px;
  margin-top: 80px;
}

.text-big{
  font-size: 40px;
  font-family: 'Stencil';
}

.text-medium{
  font-size: 28px;
  font-family: 'Harlow solid';
}

.text-small{
  font-size: 24px;
  font-family: 'Harlow solid';
}

.btn-sm{
  padding: 5px 10px;
  vertical-align: middle;
  color:white;
  cursor: pointer;
  background: none;
  border:2px solid white;
}

.section{
  height:400px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 90%;
  margin: auto;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.sectionTag{
  padding :30px 0;
}

.secLeft{
  flex-direction: row-reverse;
}

.paras{
  padding: 0 20px;
}

.thumbnail img{
  width:500PX;
  border-radius: 40px;
  margin-top: 80px;
  border: 100px black;
}

